html {
  box-sizing: border-box;
  line-height: 1.5;
  background-color: #f5f2f0;
  font-family: Georgia;
  font-family: "Denk One";
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  display: contents;
  margin: 0;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
}

h1 {
  font-family: "Denk One";
  color: #623b0c;
  margin: 1rem;
}

ol {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: .5em .75em .6em;
  margin: 0;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

li {
  border-color: #623b0c;
  border-width: thin;
  border-width: 2px;
  list-style-type: none;
  box-sizing: content-box;
  border-radius: 8px;
  padding: .5em .75em .6em;
  margin: 0 0 auto;
  background-color: #ede3db;
}

h2 {
  color: #623b0c;
  font-family: "Denk One";
  margin: 0;
  padding: .5em .75em .6em;
}

img {
  width: 100%;
  margin: auto;
  padding: .5em;
}

p {
  color: #000;
  font-family: Georgia;
  margin: 0 auto;
  padding: 1em .75em .6em;
}

a {
  background-color: #623b0c;
  color: #fff;
  margin: 1.5rem 0 .5rem;
  padding: .5em .75em;
  border-radius: 8px;
  box-sizing: content-box;
  list-style-type: none;
  border-width: 2px;
  display: flex;
  font-family: Georgia;
}
